#define RC_VERSION_FILE_DESCRIPTION 	"Microsoft(R) Exchange Server Database Resmgr Unit Test\0"
#define RC_VERSION_INTERNAL_NAME	"RESMGRUNIT\0"
#define RC_VERSION_ORIGINAL_FILE_NAME	"RESMGRUNIT.EXE\0"

#include "bldver.rc"


