#define RC_VERSION_FILE_DESCRIPTION 	"Microsoft(R) Exchange Server Database Resmgr Emulator Unit Tests\0"
#define RC_VERSION_INTERNAL_NAME		"RESMGREMULATORUNIT\0"
#define RC_VERSION_ORIGINAL_FILE_NAME	"RESMGREMULATORUNIT.EXE\0"

#include "bldver.rc"


