// Copyright (c) Microsoft Corporation.
// Licensed under the MIT License.
#include "Microsoft-ETW-ESE.rc"

#define RC_VERSION_FILE_DESCRIPTION     "Microsoft ESE ETW\0"
#define RC_VERSION_INTERNAL_NAME        "EtwEseProviderResources\0"
#define RC_VERSION_ORIGINAL_FILE_NAME   "EtwEseProviderResources.DLL\0"

#ifdef ESEEX
// Exchange-only common .rc file
#include "bldver.rc"
#endif
