#define RC_VERSION_FILE_DESCRIPTION 	"Microsoft(R) Exchange Server Database Storage Engine Unit Test\0"
#define RC_VERSION_INTERNAL_NAME	"COLLECTIONUNIT\0"
#define RC_VERSION_ORIGINAL_FILE_NAME	"COLLECTIONUNIT.EXE\0"

#include "bldver.rc"

